$primary: #ff5276;
$primary-light:#fe8d79;

$secondary: #36a5f0;
$secondary-light: #a4dbff;

$background:#1c252e;
$background-dark:#000000;
$background-opposite:#ffffff;

$submenu1-bg: #364758;
$submenu2-bg: #364758;
$submenu3-bg: #43576b;

$menu-width: 320px;